<h1>Sing Up</h1>

<form action="/auth/signup" method="post">

    <label> Username
        <input type="text" name="username">
    </label>

    <label> Password
        <input type="password" name="password">
    </label>

    <button>Create</button>

</form>
